version: '3.8'

services:
  coredns:
    image: coredns/coredns:latest
    container_name: coredns
    restart: unless-stopped
    ports:
      - "53:53/udp"  # Puerto DNS
    volumes:
      - "/etc/coredns:/etc/coredns"  # Montaje del directorio de configuración
    environment:
      - TZ=UTC