version: '3.8'

services:
  coredns:
    image: coredns/coredns:latest
    container_name: coredns
    restart: unless-stopped
    ports:
      - "53:53/udp"
      - "53:53/tcp"
    volumes:
      - ./Corefile:/etc/coredns/Corefile
    environment:
      - TZ=UTC
    networks:
      - coredns-net

networks:
  coredns-net:
    driver: bridge