# Forward DNS queries to public DNS servers
. {
    forward . 8.8.8.8 8.8.4.4
    log
    errors
    cache 30
}

# Zone for internal domain (configured with domain_name variable)
{{ domain_name }} {
    hosts {
        {% for record in dns_records %}
            # Adding DNS records for internal hosts
            {{ record.ip }} {{ record.name }}.{{ domain_name }} {{ record.name }}
        {% endfor %}
        fallthrough  # Allow resolution of other names that don't match
    }
    log
    errors
    cache 30
}