$TTL 86400
@   IN  SOA freeipa1.{{ domain_name }}. root.{{ domain_name }}. (
    2025031601  ; Serial
    3600        ; Refresh
    1800        ; Retry
    604800      ; Expire
    86400       ; Minimum TTL
)
@       IN  NS      freeipa1.{{ domain_name }}.

{% for record in dns_records %}
{{ record.name }}. IN  A   {{ record.ip }}
{% endfor %}
