version: '3'

services:
  coredns:
    image: coredns/coredns:latest
    container_name: coredns
    ports:
      - "53:53/tcp"
      - "53:53/udp"
    volumes:
      - ./Corefile:/etc/coredns/Corefile
    networks:
      - default
    restart: unless-stopped

networks:
  default:
    driver: bridge